 <footer>
      <div class="container">
        <div class="row">
          <div class="span2">
            <nav>
              
            </nav>
          </div>
          <div class="span2">
             <nav>
             
            </nav>          
          </div>
          <div class="span2">
             <nav>
              
            </nav>
             <nav>
           
            </nav>            
          </div>
          <div class="span3">
            <h4>Get in touch</h4>
            <div class="social-icons-row">
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-linkedin"></i></a>                                         
            </div>
            <div class="social-icons-row">
              <a href="#"><i class="icon-google-plus"></i></a>              
              <a href="#"><i class="icon-github"></i></a>
              <a href="mailto:univnktt@gmail.com"><i class="icon-envelope"></i></a>        
            </div>
            <div class="social-icons-row">
               </div>
          </div>      
          <div class="span3">
           
          </div>
        </div>
      </div>
      <hr class="footer-divider">
      <div class="container">
        
      </div>
    </footer>
    <!-- End: FOOTER -->
    