<header>
      <!-- Start: Navigation wrapper -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="index.html" class="brand brand-bootbus"><img src="img/beta2.jpg" height="80" width="80"> </a>
            <!-- Below button used for responsive navigation -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Start: Primary navigation -->
            <div class="nav-collapse collapse">        
              <ul class="nav pull-right">
                 <li><a href="index.php">Accueil</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle active-link" data-toggle="dropdown">Espance<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">Candidat</li>
                 
                    <li><a href="all_products.html">Candidat</a></li>    
                    <li class="nav-header">Recrtueurs</li>
                 
                    <li><a href="all_products.html">Entreprise</a></li>                     
                    
                  </ul>                  
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beta<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="our_works.html">Qui sommes nous</a></li>
                    <li><a href="patnerships.html">Beta conseil</a></li>
                     <li><a href="patnerships.html">Beta.mr</a></li>
                     <li><a href="patnerships.html">Beta SMS</a></li>
                      <li><a href="patnerships.html">Assistance & Evaluation</a></li>
                       <li><a href="patnerships.html">Test Psychotechnique</a></li>
                    <li><a href="news.html">Nouveauté</a></li>
                  
                  </ul>
                  
                  
                  
                   <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                                   <li><a href="patnerships.html">Beta SMS</a></li>
                      <li><a href="patnerships.html">Assistance & Evaluation</a></li>
                       <li><a href="patnerships.html">Test Psychotechnique</a></li>
                    <li><a href="news.html">Nouveautés</a></li>
                  
                  </ul>
                </li>
               
                <li><a href="contact_us.html">Nous contacter</a></li>
                <li><a href="connexion.php">Connexion</a></li>
                <li><a href="signin.html">Inscription</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End: Navigation wrapper -->   
    </header>
<p></p><br>