







{%extends  '::base.html.twig'%}

{% block body%}
    <br><br>

     <div class="content">
      <!-- Start: SERVICE LIST -->
        <div class="container">
         
          
           <div class="row-fluid">
              
          <div class="span9" class="icon-align-left">
              <br> <br>
  


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
           </div>
          </div>
        </div>
      <!-- End: SERVICE LIST -->
  
     {%endblock%} 
    
    
    
    
    