



{%extends  '::base.html.twig'%}

{% block body%}
    <br><br>

     <div class="content">
      <!-- Start: SERVICE LIST -->
        <div class="container">
          <div class="page-header">
              
              <div class="span2">ACCES INTERDIT</div>
            
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
            <div class="span12">
          
       <font color="red"><font size=+4> Vous n'avez pas le compte approprié pour accèder à cette page :p</font></font>
       <div class="text-exception"><font color="green"><font size=+2>Si vous voulez publier des annonces ou avez un problème, veuillez contacter l'administrateur du site. <br>
           </font></font></div>
                    
                    
                    
                    
                    
                    
                    
                    
            </ul>
         
         
        </div>
      <!-- End: SERVICE LIST -->
    </div>
     {%endblock%} 
    
    
    
    
    

                   
